{% extends 'base.html.twig' %}

{% block title %}
    {{ 'welcome'|trans }}
    {{ parent() }}
{% endblock %}

{% block opengraph_title %}
    <meta property="og:title" content="{{ 'welcome_title' | trans }} - {{ app_name }}" />
{% endblock %}

{% block body %}
    {% for flash in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash }}</div>
    {% endfor %}

    <div class="container start-page">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mb-3">Liste des Mots Algériens et derja (درجة)</h1>
                {# 
                {% for post in posts %}
                    {{ include('partials/card_post.html.twig', {post: post}, with_context = false) }}
                {% endfor %}
                #}
            </div>

            <div class="col-sm-4">
                <a class="btn btn-primary" href="">{{ 'post_create'|trans }}</a>
                <div class="card mb-3">
                    <div class="card-header">title</div>
                    <div class="card-body">
                        vody
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">title</div>
                    <div class="card-body">
                        vody
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

